# Compiled class file
*.class

# Log file
*.log
*/logs/
# IntelliJ
*/target/
/target/*
/target/
target/
target
.idea
.idea/
/.idea
/.idea/*
*.iml
# web
/webapp/WEB-INF/classes/
*/webapp/WEB-INF/classes/
# test
*/test/
/test
test/
/test/*
